body
{
	margin: 0px;
}

#reply_main
{
	width: 1000px;
	margin: auto;
	font-family: "方正大黑";
	font-size: 20px;
	color: #666666;
}

#message
{
	width: 960px;
	padding: 30px;
	margin: auto;
}

#reply_main textarea
{
	width: 960px;
	height: 250px;
	margin: auto;
}
